* {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* Для Safari и Chrome */
  -moz-tap-highlight-color: transparent; /* Для Firefox */
  -ms-tap-highlight-color: transparent; /* Для IE */
  tap-highlight-color: transparent; /* Для других браузеров */
}

html,
body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../src/fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  width: 100%;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-sec-container {
  background: #2f4c78;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border-radius: 20px;
  font-family: "OpenSans";
}

.search-sec-container h1 {
  color: white;
  text-align: center;
  margin-bottom: 7px;
}

.search-sec-container > p {
  margin: 0;
  margin-bottom: 40px;
  color: rgb(202, 202, 202);
  text-align: center;
}

.place-input-group {
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: 20px;
}

.from-input-container {
  width: 50%;
  display: flex;
  height: fit-content;
  align-items: center;
  margin-right: 20px;
}

.to-input-container {
  width: 50%;
  display: flex;
  height: fit-content;
  align-items: center;
}

.from-input-container select {
  width: 90%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  margin-right: 5px;
}

.to-input-container select {
  padding: 10px;
  width: 90%;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  margin-right: 5px;
}

select option {
  background-color: whitesmoke;
  border-radius: 10px;
}

.date-input-container {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.date-input-container p:nth-child(2) {
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  outline: none;
  margin-right: 5px;
}

.date-input-container p:first-child {
  color: white;
  margin: 0;
  margin-right: 2px;
}

.date-input-container span {
  width: 24px;
  height: 27.42px;
  display: inline;
  position: absolute;
  right: 15px;
}

.datepicker-input {
  padding: 7px;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  outline: none;
  margin-right: 5px;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  width: 24px;
  height: 27.42px;
  z-index: 100;
  opacity: 0;
}

.this-week {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.this-week > * {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 2.5px;
  margin-right: 10px;
}

.this-week > * p {
  margin: 5px;
}

.card-selected {
  background-color: #4c7cc4;
}

.this-week :last-child {
  margin-right: 0px;
}

.tickets-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.ticket {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  margin: 20px 0;
  width: 75%;
  justify-content: space-between;
  font-family: "OpenSans";
  background-color: whitesmoke;
  border-radius: 28.0726px;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ticket > :first-child {
  background: #148a75;
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 61px;
  border-radius: 28.0726px 0px 0px 28.0726px;
}

.ticket > :first-child p {
  color: white;
  font-size: 35.933px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: 35.933px;
}

.location p {
  margin: 20px 0;
}

.location-price {
  margin: 0 20px;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.price {
  display: flex;
  align-items: center;
  color: #148a59;
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 18.5978px;
  line-height: 25px;
}

.location > div {
  display: flex;
  align-items: center;
  text-align: center;
}

.location > div :first-child {
  margin: 0;
  margin-right: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16.8436px;
  line-height: 29px;
  color: #b1b1b1;
}

.location > div :last-child {
  font-style: normal;
  color: black;
  font-weight: 400;
  font-size: 15.5978px;
  line-height: 25px;
}

.departure {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  text-align: center;
  justify-content: space-around;
  background: #2f4c78;
  border-radius: 0px 28.0726px 28.0726px 28.0726px;
}

.departure p {
  color: white;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 17.9665px;
  line-height: 31px;
}

.cancel-order-btn {
  padding: 10px 20px;
  background-color: rgb(240, 6, 6);
  color: white;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.cancel-order-btn-wrapper {
  display: flex;
  justify-content: center;
}

.cancel-order-btn:hover {
  box-shadow: 0px 2.7px 4px rgba(0, 0, 0, 0.5);
}

.departure h5 {
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 14.5978px;
  line-height: 25px;
}

.contacts-sec {
  font-family: "OpenSans";
}

.contacts-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.contacts-wrapper h1 {
  text-align: center;
  font-family: "OpenSans";
}

.contacts-container {
  display: flex;
  justify-content: space-around;
}

.contacts-container > div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.contacts-container > :nth-child(2) a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-icon {
  display: block;
  height: 40px;
}

.submit-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid black;
  font-style: normal;
  font-weight: 400;
  font-size: 14.5978px;
  line-height: 25px;
  font-family: "OpenSans";
}

.submit-btn span {
  margin-right: 10px;
}

.submit-btn > * {
  display: block;
}

.no-tickets-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-tickets {
  font-family: "OpenSans";
  width: fit-content;
  height: min-content;
  padding: 20px;
  border: 2px solid #2f4c78;
  border-radius: 20px;
}

@media (max-width: 1400px) {
  .search-sec-container {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .search-sec-container {
    width: 70%;
  }
}

@media (max-width: 1060px) {
  .search-sec-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .ticket {
    width: 100%;
  }
}

@media (max-width: 1060px) {
  .place-input-group {
    flex-direction: column;
    align-items: center;
  }
  .from-input-container {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .place-input-group label {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .place-input-group label {
    width: 100%;
  }
  .date-input-container {
    flex-direction: column;
  }
  .date-input-container p {
    margin-bottom: 10px !important;
  }
  .datepicker-toggle-button {
    transform: translate(-5px, 16px);
  }
  .search-sec-container {
    width: calc(100% - 40px);
  }
}

@media (max-width: 590px) {
  .location > div {
    flex-direction: column;
  }
  .ticket {
    flex-direction: column;
  }
  .ticket > :first-child {
    width: 100%;
    border-radius: 28.0726px 28.0726px 0 0;
    padding: 0;
  }
  .departure {
    width: calc(100% - 30px);
    border-radius: 0 0 28.0726px 28.0726px;
  }
  .location > div :first-child {
    margin: 0;
  }
  .location {
    margin: 10px 0;
    height: auto;
  }
  .location-price {
    flex-direction: column;
    align-items: center;
  }
  .price p {
    margin: 10px;
    margin-bottom: 20px;
  }
  .location > div > * {
    padding: 0 10px;
  }
}
