{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Продажа Билетов</title>
    <link rel="stylesheet" href="{%static 'src/Cancel-order.css'%}" />
  </head>
  <body>
    <div class="cancel-order">
        <h1>Отмена заказа</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vero, reiciendis consectetur cupiditate, explicabo incidunt soluta suscipit voluptas, dolorem esse et facilis labore in eius officia inventore vel minus asperiores? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, tempora nisi. Nesciunt, placeat impedit. Laboriosam maiores et dolore cum, officia officiis incidunt illo commodi cumque vel asperiores voluptatibus earum. Architecto? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eveniet ad accusantium odit libero explicabo cum rem maiores esse, consectetur, temporibus possimus veritatis ipsum voluptatem. Recusandae laudantium sed non eaque.
        </p>
    </div>
  </body>
</html>
